alias pac='sudo pacman -Sy'
alias aur='aurget -S --deps --noconfirm'
alias off='sudo poweroff'
alias lock='slimlock'
alias tv='sudo mount -t cifs //192.168.2.100/tvshows /media/TV -o user=Guest,password='
alias android='jmtpfs ~/android'
alias python='python2'
alias ipython='ipython2'
alias ccd='cd ~/drexel/su2013'
alias chem201='~/drexel/sp2013/chem201'
alias cs361='~/drexel/sp2013/cs361'
alias cs380='~/drexel/sp2013/cs380'
alias cs432='~/drexel/sp2013/cs432'
alias phys131='~/drexel/sp2013/phys131'
alias com240='~/drexel/su2013/com240'
alias soc101='~/drexel/su2013/soc101'
alias cs280='~/drexel/su2013/cs280'
alias cs365='~/drexel/su2013/cs365'
alias mus='ncmpcpp'
alias gsen='wine ~/anime/GSenjou/gstring.exe'
alias tux='ssh -Y tyh25@tux.cs.drexel.edu'
